@import url("assets/fonts/fonts.css");
/*--- Basic Styles ---*/
* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

.container {
  width: 960px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

header,
section {
  width: 100%;
}

h2 {
  font-size: 1.875rem;
  text-transform: capitalize;
  font-weight: 900;
}

/*--- Header Styles ---*/
.header {
  height: 91px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  background-color: #2d303a;
  color: #fff;
  font-weight: bold;
  border-bottom: 7px solid #323746;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  font-size: 1.563rem;
}

.header__logo span {
  color: #f06c64;
}

.header__logo a {
  text-decoration: none;
  color: #fff;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-list-item:not(:last-of-type) {
  margin-right: 12px;
}

.header__nav-dot {
  color: #494e62;
  margin-right: 10px;
}

.header__nav-list-item:last-of-type:after {
  content: '';
}

.header__nav-list-item-link {
  text-decoration: none;
  color: #fff;
  font-size: 0.75rem;
}

.header__nav-list-item-link:hover {
  color: #f06c64;
}

.header__nav-list-item-link.active {
  color: #f06c64;
}

/*--- Hero Section Styles ---*/
.hero {
  height: 600px;
  background-color: #f06c64;
  border-bottom: 7px solid #ea676b;
  position: relative;
}

.hero__btn {
  position: absolute;
  height: 27px;
  width: 27px;
  cursor: pointer;
}

.hero__btn-prev {
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.hero__btn-next {
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.hero__btn svg {
  fill: #c94549;
}

.hero__btn svg:hover {
  opacity: .8;
}

.hero__slider-item-phone {
  border-radius: 25px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.2);
}

.hero__slider-item-phone-x {
  height: 65.714vh;
  left: 6.373vw;
}

.hero__slider-item-phone-y {
  right: 6.373vw;
}

/*--- Services Section Styles ---*/
.services {
  background-color: #f2f2f2;
  padding: 6.897vh 0;
  color: #666d89;
}

.services .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.services__title {
  margin-bottom: 30px;
}

.services__description {
  font-size: 1.125rem;
  font-weight: 300;
  margin-bottom: 50px;
  line-height: 30px;
}

.services__list-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.services__list-row:first-of-type {
  margin-bottom: 40px;
}

.services__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__list-item-icon {
  height: 59px;
  width: 59px;
  border: 2px solid #666d89;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 20px;
}

.services__list-item-text {
  width: 220px;
}

.services__list-item-text-title {
  font-size: 1.125rem;
  font-weight: 900;
  margin-bottom: 19px;
}

.services__list-item-text-description {
  font-size: .75rem;
  line-height: 21px;
  text-align: justify;
}

/*--- Portfolio Section styles ---*/
.portfolio {
  background-color: #2d303a;
  padding: 6.897vh 0;
  color: #666d89;
  border-bottom: 7px solid #313745;
}

.portfolio__description {
  margin: 30px 0 20px 0;
  font-size: 1.125rem;
  font-weight: 300;
  color: #767e9e;
}

.portfolio__btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.portfolio__btn-list-item {
  margin-right: 10px;
}

.portfolio__btn-list-item-btn {
  background: transparent;
  padding: 5px;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  text-transform: capitalize;
  color: #666d89;
  font-weight: normal;
  border: 1px solid #666d89;
  border-radius: 7px;
}

.portfolio__btn-list-item-btn:hover {
  cursor: pointer;
  color: #fff;
  border: 1px solid #fff;
}

.portfolio__projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 20px;
}

.portfolio__projects-item {
  width: 220px;
  height: 180px;
  overflow: hidden;
  position: relative;
}

.portfolio__projects-item img {
  width: 100%;
  height: 100%;
}

/*--- About Section Styles ---*/
.about {
  padding: 6.897vh 0;
  background-color: #f1f1f1;
  color: #666d89;
  border-bottom: 7px solid #ffffff;
}

.about__description {
  margin: 30px 0 50px 0;
  font-size: 1.125rem;
  font-weight: 300;
  color: #767e9e;
  line-height: 30px;
}

.about__team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about__team-person {
  width: 300px;
}

.about__team-person-photo {
  height: 300px;
  width: 300px;
  margin-bottom: 17px;
}

.about__team-person-name {
  font-weight: 900;
  font-size: 1.125rem;
  margin-bottom: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.about__team-person-about {
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
  margin-bottom: 30px;
}

.about__team-person-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__team-person-social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.9411vw;
  width: 2.9411vw;
  border: 1px solid #666D89;
  border-radius: 50%;
}

.about__team-person-social-item:not(:last-of-type) {
  margin-right: 8px;
}

.about__team-person-social-item svg {
  width: 20px;
  height: 20px;
  fill: #666d89;
}

.about__team-person-social-item-google:hover {
  border: 1px solid #DD4B39;
  background-color: #DD4B39;
}

.about__team-person-social-item-google:hover svg {
  fill: #fff;
}

.about__team-person-social-item-facebook:hover {
  border: 1px solid #3b5998;
  background-color: #3b5998;
}

.about__team-person-social-item-facebook:hover svg {
  fill: #fff;
}

.about__team-person-social-item-twitter:hover {
  border: 1px solid #00acee;
  background-color: #00acee;
}

.about__team-person-social-item-twitter:hover svg {
  fill: #fff;
}

.about__team-person-social-item-linkedin:hover {
  border: 1px solid #0e76a8;
  background-color: #0e76a8;
}

.about__team-person-social-item-linkedin:hover svg {
  fill: #fff;
}
/*# sourceMappingURL=style.css.map */